
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("CustomerRole"))
{
    <h2>Owner Dashboard</h2>

    <div id="user_body"></div>
    <div id="popup_form" class="popup">
        <form id="ajax_form">
            <div id="form_body"></div>
            <div class="form-group">
                <button onclick="validate()" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
}

<input type="hidden" value="" />

