
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("CustomerRole"))
{
    <h2>Owner Dashboard</h2>

    <div id="user_body"></div>
    <div id="popup_form" class="popup">
        <form id="ajax_form">
            <div id="form_body"></div>
            <div class="form-group">
                <button onclick="validate()" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $('#popup_from').popup({
            blur: false,
            opacity: 0.3,
            transition: 'all 0.3s'
        });

        var validate = function () {
            return false;
        }

        var blockSubmit = function () {
            alert('blocking');
            return false;
        }

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
            return data;
        };

        var token = $('[name=__RequestVerificationToken]').val();
        var headers = {};
        headers["__RequestVerificationToken"] = token;

        // get has 2 types, one where he knows the id of the object and the other if he is uncertain
        var Get = function (controller, method, id) {
            var url = '';
            if (id == undefined) {
                url = '/' + controller + '/' + method;
            } else {
                url = '/' + controller + '/' + method + '/' + id;
            }

            console.log(url);

            $.ajax({
                type: 'GET',
                url: url,
                cache: false,
                headers: headers,
                contentType: 'application/json; charset=utf-8',
                data: '',
                success: function (response) {
                    console.log(response);
                    document.getElementById("user_body").innerHTML = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

        var GetForm = function (controller, method, id, action, type) {
            var url = '';
            if (id == undefined) {
                url = '/' + controller + '/' + method;
            } else {
                url = '/' + controller + '/' + method + '/' + id;
            }

            console.log(url);

            $.ajax({
                type: 'GET',
                url: url,
                cache: false,
                headers: headers,
                contentType: 'application/json; charset=utf-8',
                data: '',
                success: function (response) {
                    console.log(response);
                    document.getElementById("form_body").innerHTML = response;
                    $("#ajax_form").attr("action", action);
                    $("#ajax_form").attr("method", type);
                    $('#popup_form').popup('show');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

        // patch
        var Patch = function (controller, method, form) {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: $(this).data('url'),
                type: 'PATCH',
                data: {
                    __RequestVerificationToken: token,
                    //data: data
                    data: $(form).serialise()
                },
                success: function (response) {
                    document.getElementById("user_body").innerHTML = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
            return false;
        };

        var Post = function (controller, method) {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: $(this).data('url'),
                type: 'PATCH',
                data: {
                    __RequestVerificationToken: token,
                    data: data
                },
                success: function (response) {
                    document.getElementById("user_body").innerHTML = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
            return false;
        };
    </script>
}

<input type="hidden" value="" />

