
@{
    ViewData["Title"] = "Owner Dashboard";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("OwnerRole"))
{
    <h2>Owner Dashboard</h2>

    <div id="userBody"></div>

    <script type="text/javascript">
        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
            return data;
        };

        var token = $('[name=__RequestVerificationToken]').val();
        var headers = {};
        headers["__RequestVerificationToken"] = token;

        var GetOwnerInventory = function () {
            $.ajax({
                type: 'GET',
                url: '/Owner/Inventory',
                cache: false,
                headers: headers,
                contentType: 'application/json; charset=utf-8',
                data: '',
                success: function (response) {
                    document.getElementById("userBody").innerHTML = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

        var PatchOwnerInventory = function () {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: $(this).data('url'),
                type: 'PATCH',
                data: {
                    __RequestVerificationToken: token,
                    request: 'some value'
                },
                success: function (response) {
                    document.getElementById("userBody").innerHTML = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
            return false;
        };
    </script>
}
