
@{
    ViewData["Title"] = "Owner Dashboard";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("OwnerRole"))
{
    <h2>Owner Dashboard</h2>

    <div id="userBody"></div>

    <script type="text/javascript">
        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
            return data;
        };

        var token = $('[name=__RequestVerificationToken]').val();
        var headers = {};
        headers["__RequestVerificationToken"] = token;

        // get has 2 types, one where he knows the id of the object and the other if he is uncertain
        var Get = function (controller, method, id) {
            var url = '';
            if (id == undefined) {
                url = '/' + controller + '/' + method;
            } else { 
                url = '/' + controller + '/' + method + '/' + id;
            }

            console.log(url);

            $.ajax({
                type: 'GET',
                url: url,
                cache: false,
                headers: headers,
                contentType: 'application/json; charset=utf-8',
                data: '',
                success: function (response) {
                    document.getElementById("userBody").innerHTML = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

        // patch 
        var Patch = function (controller, method, form) {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: $(this).data('url'),
                type: 'PATCH',
                data: {
                    __RequestVerificationToken: token,
                    //data: data
                    data: $(form).serialise()
                },
                success: function (response) {
                    document.getElementById("userBody").innerHTML = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
            return false;
        };

        var Post = function (controller, method) {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: $(this).data('url'),
                type: 'PATCH',
                data: {
                    __RequestVerificationToken: token,
                    data: data
                },
                success: function (response) {
                    document.getElementById("userBody").innerHTML = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
            return false;
        };
    </script>
}
