
@{
    ViewData["Title"] = "Owner Dashboard";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("OwnerRole"))
{
    <h2>Owner Dashboard</h2>

    <div id="user_body"></div>
    <div id="popup_form" class="popup">
        <form id="ajax_form">
            <div id="form_body"></div>
            <div class="form-group">
                <button onclick="validate()" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
}
