@{
    Layout = "";
}

<ul class="list-unstyled CTAs components">
    <li>
        <a href="#" class="download" onclick="GetOwnerInventory()">Owner Inventory</a>
    </li>
    <li>
        <a href="#" class="download" onclick="GetOwnerInventory()">Stock Requests</a>
    </li>
</ul>

