@model Assignment2WebAPI.REST.RESTCart

@{
    ViewData["Title"] = "CartForm";
}

@{ 
    Layout = null;
}

<h4>Add to Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="hidden" id="StoreID" value="@ViewBag.StoreID" />
        <input type="hidden" id="ProductID" value="@ViewBag.ProductID" />
        <input type="hidden" id="CustomerID" value="@ViewBag.CustomerID" />
        <div class="form-group">
            <label asp-for="Quantity" class="control-label"></label>
            <input type="number" id="Quantity" value="0" />
        </div>
        <div class="form-group">
            <input type="button" onclick="PostCart()" value="Add To Cart" class="btn btn-default" />
        </div>
    </div>
</div>
