@using Microsoft.AspNetCore.Identity
@using Assignment2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string active = "";
}

@if (SignInManager.IsSignedIn(User))
{
    active = "";
}
else
{
    active = "active";
}

<nav id="sidebar" class="@active">
    <div class="sidebar-header">
        <h3>Sidebar</h3>
    </div>

    <div id="sidebar-content">
    </div>
</nav>


