@{
    Layout = "";
}

<ul class="list-unstyled CTAs components">
    <li>
        <a href="Inventory" class="download">Inventory</a>
    </li>
    <li>
        <a href="StockRequest" class="download">Stock Request</a>
    </li>
</ul>

